body {
  background: #94618E;;
  color: #f1f3f5;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  padding: 0 2rem;
  display: block;
  text-decoration: none;
  color: #FFF;
}

.tweet {
  margin: 3rem 0;
  padding: 1rem 2rem;
  background: #f1f3f5;
}

.tweet h5,
.tweet p {
  color: #49274A;
}

.avatar {
  margin-right: 1rem;
  max-width: 40px;
  /*fill: yellow;*/
}

svg {
  fill: yellow;
}

.login,
.signup {
  text-align: center;
}

input {
  color: #49274A;
}
