/*=======================
GLOBAL STYLES/LAYOUT
=======================*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  color: #f1f3f5;
}

.bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #94618E;
  background-image: url('../img/tiger_bg.svg');
  background-size: 100vh;
  background-repeat: no-repeat;;
  background-position: -15% -3%;
  overflow: auto;
}

.logo {
  position: fixed;
  right: 0px;
  color: #aa7da5;
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  letter-spacing: 2rem;
  text-align: center;
  transform: rotate(270deg);
  transform-origin: right bottom;
}

h1, h3, h4, h5, h6, ul, li {
  margin: 0;
}

h2 { /* used exclusively for page headlines */
  margin: 2rem 0;
  text-align: center;
}

h1, h4 {
  text-align: center;
}

input {
  color: #49274A;
}

ul {
  list-style: none;
}

textarea {
  width: 80%;
}

.container {
  padding-top: 40px;
}

.one-line-spaced-out {
  display: flex;
  justify-content: space-between;
}

.tweet {
  margin: 3rem auto;
  padding: 2rem;
  background: #f1f3f5;
  border: 5px solid #f1f3f5;
}

.user-tweet {
  border: 5px solid #49274A;
}

.tweet h5 {
  margin: 0;
}

.tweet h5,
.tweet p,
textarea {
  color: #49274A;
}

.avatar {
  margin-right: 1rem;
  max-width: 40px;
}

.login,
.signup,
.tac {
  text-align: center;
}



/*=======================
SPECIFIC STYLES/LAYOUT
=======================*/

/* --- NAVBAR --- */

nav {
  position: fixed;
  text-align: center;
  background: rgba(148,97,142,0.9);
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li a {
  padding: 0 2rem;
  display: block;
  text-decoration: none;
  color: #FFF;
}



/*=======================
MEDIA QUERIES
=======================*/

@media screen and (min-height: 770px) {

  .logo {
    font-size: 6rem;
  }

}
